@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
}

.feature-box {
    background: #ffffff;
    padding: 30px 25px;
    border-radius: 12px;
    border: 1px solid #f1f5f9;
    text-align: left; 
    transition: all 0.3s ease;
}

.feature-box:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.icon-box {
    width: 40px;
    height: 40px;
    background: #eff6ff;
    color: #4f46e5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
}


.feature-box h3 {
    font-weight: 700;
    font-size: 16px;
    color: #111827;
    margin-bottom: 10px;
}

.feature-box p {
    color: #64748b;
    font-size: 13px;
    line-height: 1.6;
}

.product-card {
    background: #ffffff;
    border: 1px solid #f1f5f9;
    border-radius: 12px;
    padding: 15px;
    transition: all 0.3s;
}

.product-card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.04);
}

.img-container {
    background: #f8fafc;
    border-radius: 10px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 15px;
}